$baseSize: 35px;

.acronym {
    display: inline-block;
    line-height: $baseSize;

    span {
        float: left;
        text-align: center;
        background-color: #ccc;
        border-radius: 100%;
        line-height: $baseSize;
        height: $baseSize;
        width: $baseSize;
        color: #333;
        font-size: .9rem;
        text-align: center;
        margin-right: 7px;
    }
}