<div class="container">
  <h1>Enviar um novo vídeo</h1>
  <p class="page-description">Envie um novo vídeo para o nosso time de legendadores profissionais.</p>

  <div class="row">
    <div class="col-12 col-md-9">
      <form
        (submit)="submitVideo(formSubmitVideo.value)"
        #formSubmitVideo="ngForm"
        novalidate
      >
        <!-- Import video -->
        <div ngModelGroup="import" #importGroup="ngModelGroup">
          <div class="mb-3">
            <app-acronym
              value="1"
              [hide]="true"
            ></app-acronym>
            Informe a URL completa do vídeo <span class="text-danger">*</span>
          </div>

          <div class="card ms-3 mb-5">
            <div class="card-body">
              <div class="input-group">
                <input
                  (blur)="getVideoPreview(importGroup.value.url)"
                  ngModel
                  name="url"
                  required
                  type="url"
                  class="form-control"
                  placeholder="https://www.youtube.com/watch?v=..."
                />
                <button
                  (click)="getVideoPreview(importGroup.value.url)"
                  [disabled]="!importGroup.valid || loadingPreview"
                  type="button"
                  class="btn btn-primary"
                >
                  <app-loading [loading]="loadingPreview" context="button">
                    <i class="fas fa-video me-2"></i>
                  </app-loading>
                  Pré-visualizar
                </button>
              </div>
            </div>
          </div>
        </div>

        <!-- Language settings -->
        <div ngModelGroup="languages" #languagesGroup="ngModelGroup">
          <div class="mt-4 mb-3">
            <app-acronym
              value="2"
              [hide]="true"
            ></app-acronym>
            Seleção dos idiomas <span class="text-danger">*</span>
          </div>

          <div class="card ms-3 mb-5">
            <div class="card-body">
              <div class="row align-items-center">
                <div class="col-12 col-md-5">
                  <select
                    ngModel
                    name="lang_original"
                    required
                    class="form-select"
                    title="Language"
                  >
                    <option value="">Idioma do vídeo</option>
                    <option value="pt-BR">Português (Brasil)</option>
                  </select>
                </div>
                <div class="col-12 col-md-2 text-center">
                  <span class="fas fa-arrow-right"></span>
                </div>
                <div class="col-12 col-md-5">
                  <select
                    ngModel
                    name="lang_target"
                    required
                    class="form-select"
                    title="Language"
                  >
                    <option value="">Idioma das legendas</option>
                    <option value="pt-BR">Português (Brasil)</option>
                    <optgroup label="Em Breve">
                      <option value="" disabled>Áudio-descrição em Português (Brasil)</option>
                      <option value="" disabled>Inglês (EUA)</option>
                      <option value="" disabled>Espanhol</option>
                    </optgroup>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Fetch from Youtube -->
        <div class="mt-4 mb-3">
          <app-acronym
            value="3"
            [hide]="true"
          ></app-acronym>
          Obter as legendas geradas automaticamente pelo Youtube
          <span class="text-muted">(disponível em breve)</span>
        </div>

        <div class="card ms-3 mb-5">
          <div class="card-body">
            <div class="row">
              <div class="col-12 col-md-8">
                <p class="page-description mb-0 text-muted">
                  Esta opção tenta buscar as legendas geradas automaticamente pelo Youtube, caso estejam disponíveis.
                </p>
              </div>
              <div class="col-12 col-md-4">
                <button
                  disabled
                  type="button"
                  class="btn btn-danger float-end"
                >
                  <i class="fab fa-youtube mr-2"></i> Conectar ao Youtube
                </button>
              </div>
            </div>
          </div>
        </div>

        <div class="mt-4 ms-3">
          <button
            [disabled]="!formSubmitVideo.valid"
            type="submit"
            class="btn btn-primary"
          >
            <app-loading [loading]="loading" context="button">
              <i class="fas fa-check-circle me-2"></i>
            </app-loading>
             Enviar Vídeo
          </button>
        </div>
      </form>
    </div>
    <div class="col-12 col-md-3">
      <div class="mb-3">
        <strong>Pré-visualização do Vídeo</strong>
      </div>
      <div *ngIf="newVideoPreview; else noVideoSelected">
        <app-video-item
          [video]="newVideoPreview"
          [hasLink]="false"
          [hasStatus]="false"
        ></app-video-item>
      </div>

      <ng-template #noVideoSelected>
        Informe a URL de um vídeo para pré-visualizar
        <app-loading [loading]="loadingPreview"></app-loading>
      </ng-template>
    </div>
  </div>
</div>
