<div class="container">
  <h1>Single Fake Video</h1>

  <div class="row">
    <div class="col-6">Aqui tem o vídeo</div>
    <div class="col-6">
      <textarea
        cols=""
        rows="10"
        class="form-control"
        placeholder="Aqui tem a box da legenda"
      ></textarea>

      <div class="mt-2">
        <button type="button" class="btn btn-secondary me-2">
          Salvar Rascunho
        </button>
        <button type="button" class="btn btn-primary">
          <i class="fab fa-youtube me-1"></i> Publicar
        </button>
      </div>
    </div>
  </div>
</div>
