textarea,
select,
button.btn.btn-primary {
  border: solid 1px transparent;

  &:focus,
  &:active {
    border: solid 1px transparent;
    outline: none;
    box-shadow: none;
  }
}

textarea {
  height: 100px;
  resize: none;
}

.readonly-subtitles {
  height: 365px;
  overflow: scroll;
}

.keep-line-breaks {
  white-space: pre-wrap;
}

.video-placeholder {
  height: 365px;
  width: 100%;
  background-color: black;
  overflow: hidden;
}

iframe {
  width: 100%;
  height: 100%;
  border: solid 3px red !important;
}
