<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="#">Navbar</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li *ngIf="!user" class="nav-item">
          <a
            [routerLink]="['/login']"
            routerLinkActive="active"
            class="nav-link"
            aria-current="page"
            >Entrar</a
          >
        </li>
        <li *ngIf="user" class="nav-item">
          <a
            class="nav-link"
            aria-current="page"
            >
              <app-acronym [value]="user | fullName" [hide]="true"></app-acronym> {{ user | fullName }} ({{ helpers.isConsultant() ? 'Consultor' : 'Produtor' }})
            </a
          >
        </li>
        <li *ngIf="user" class="nav-item">
          <a
            [routerLink]="['/panel/videos']"
            routerLinkActive="active"
            class="nav-link"
            aria-current="page"
            >Meus Vídeos</a
          >
        </li>
        <li *ngIf="user && !helpers.isConsultant()" class="nav-item">
          <a
            [routerLink]="['/panel/submit-video']"
            routerLinkActive="active"
            class="nav-link"
            aria-current="page"
            >Enviar Vídeo</a
          >
        </li>
        <li *ngIf="user" class="nav-item">
          <a
            (click)="logout()"
            href="javascript: void(null)"
            routerLinkActive="active"
            class="nav-link"
            aria-current="page"
            >Sair</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
