<div class="container">
  <div class="row">
    <div class="col-12 col-md-3 offset-md-4">
      <h1>Login</h1>
      <p class="page-description">
        Please enter your credentials to login.
      </p>
      <div class="card card-body">
        <form #formLogin="ngForm" (submit)="login(formLogin.value)" novalidate>
          <div class="mb-2">
            <label>E-mail</label>
            <input
              type="email"
              email
              ngModel
              name="email"
              class="form-control"
              title="Email"
              required
            />
          </div>
          <div class="mb-2">
            <label>Password</label>
            <input
              type="password"
              ngModel
              name="password"
              class="form-control"
              title="Password"
              required
            />
          </div>
          <div class="d-grid mt-4">
            <button
              [disabled]="!formLogin.valid"
              type="submit"
              class="btn btn-primary"
            >
              Login
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
