<div class="container">
  <div class="row align-items-center">
    <div class="col-12 col-md-4 offset-md-4">
      <h1>Entrar</h1>
      <p class="page-description">Informe seus dados de acesso para entrar na plataforma.</p>
      <div class="card card-body">
        <form #formLogin="ngForm" (submit)="login(formLogin.value)" novalidate>
          <div class="mb-2">
            <label>E-mail</label>
            <input
              type="email"
              email
              ngModel
              name="email"
              class="form-control"
              title="Email"
              required
            />
          </div>
          <div class="mb-2">
            <label>Senha</label>
            <input
              type="password"
              ngModel
              name="password"
              class="form-control"
              title="Password"
              required
            />
          </div>
          <div class="d-grid mt-4">
            <button
              [disabled]="!formLogin.valid"
              type="submit"
              class="btn btn-primary"
            >
              <app-loading [loading]="loading" context="button"></app-loading>
              Entrar
            </button>
          </div>
        </form>
      </div>

      <!-- Drive / Customers and Projects / Projetos pessoais -->
      <div class="mt-2">
        <a href="https://forms.gle/NjAqQ9DDbepZnmPw7" target="_blank" rel="noopener noreferrer" class="btn btn-link">Criar uma Conta grátis</a>
      </div>

    </div>
  </div>
</div>
