<div class="container-fluid">
  <div class="row align-items-center mh-100vh">
    <div class="col-12 col-md-3 mh-100vh form-column bg-white">
      <h1>Entrar</h1>
      <p class="page-description">
        Informe seus dados de acesso para entrar na plataforma.
      </p>
      <form #formLogin="ngForm" (submit)="login(formLogin.value)" novalidate>
        <div class="mb-2">
          <input
            type="email"
            email
            ngModel
            name="email"
            [disabled]="loading"
            class="form-control"
            title="Email"
            placeholder="Informe seu e-mail"
            required
          />
        </div>
        <div class="mb-2">
          <input
            type="password"
            ngModel
            name="password"
            [disabled]="loading"
            class="form-control"
            title="Password"
            placeholder="Senha"
            required
          />
        </div>
        <div class="d-grid mt-4">
          <button
            [disabled]="!formLogin.valid || loading"
            type="submit"
            class="btn btn-primary"
          >
            <app-loading [loading]="loading" context="button"></app-loading>
            Entrar
          </button>
        </div>
      </form>
      <!-- Drive / Customers and Projects / Projetos pessoais -->
      <div class="mt-5 text-center">
        <a
          href="https://forms.gle/NjAqQ9DDbepZnmPw7"
          target="_blank"
          rel="noopener noreferrer"
          class="btn btn-link"
          >Criar uma Conta grátis</a
        >
      </div>
    </div>
    <div class="col-12 col-md-9 image-column">
      <div class="mh-100vh">
        <span>
          Legendas acessíveis a todos, gramaticalmente perfeitas <br> e que ajudam no SEO do seu canal.
        </span>
      </div>
    </div>
  </div>
</div>
