<div class="container videos-list">
  <h1>Videos</h1>
  <p class="page-description">Here comes your videos to be captionized.</p>

  <div class="row videos-filter">
    <div class="col-12 col-md-3">
      <select (change)="filterJobsByStatus()" [(ngModel)]="filterStatus" title="Filter job status" class="form-select">
        <option value="all">All status</option>
        <option value="0created">{{ "0created" | jobStatus:"label" }}</option>
        <option value="1not_started">{{ "1not_started" | jobStatus:"label" }}</option>
        <option value="2in_progress">{{ "2in_progress" | jobStatus:"label" }}</option>
        <option value="3completed">{{ "3completed" | jobStatus:"label" }}</option>
        <option value="4published">{{ "4published" | jobStatus:"label" }}</option>
      </select>
    </div>
  </div>

  <div class="row">
    <div
      *ngFor="let video of videos"
      trackBy="video.id"
      class="col col-3 video-item"
    >
      <a [routerLink]="['/videos', video.id]">
        <div
          class="cover"
          [style]="{ 'background-image': 'url(' + video.cover + ')' }"
        ></div>
        <div class="badge" [ngClass]="video.status | jobStatus: 'style'">
          {{ video.status | jobStatus: "label" }}
        </div>
        <h2>{{ video.title | truncate: 60 }}</h2>
      </a>
    </div>
  </div>
</div>
