/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;700&display=swap');

body {
    background-color: #f3f5f7;
    font-family: 'Nunito', sans-serif;
}

h1 {
    font-size: 2rem;
    font-weight: 700;
}

.card {
    border: none;
}

.page-description {
    color: #444;
    display: block;
    margin-bottom: 40px;
}

.navbar {
    margin-bottom: 20px;
}

.form-control {
    &:focus,
    &:active {
        box-shadow: none;
        outline: none;
    }
}

.opaque {
    opacity: 0.5;
    -moz-opacity: 0.5;
}